#a{
    margin-bottom: 40px;
}
#b{
    margin-bottom: 40px;
}
#C{
    margin-bottom: 30px;
}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 80%;
    border: solid;
    float:right;
}
#d{
    align-self: center;
}
body{
    background-color: rgb(255, 255, 255);
}
img{
    height: 45px;
    float: right;
    border-radius: 50%;
}
fieldset{
    background-color:rgb(194, 232, 228);
    padding: 10px;
    margin: 10px;
    width:30%;
    height: 50%;
}
.abc{
    height: 100px;
    border-radius: 1%;
}